<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<error-page>
		<error-code>404</error-code>
		<location>/Error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/Error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.utask.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>asd</display-name>
		<servlet-name>asd</servlet-name>
		<servlet-class>com.utask.servlets.asd</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.utask.servlets.SignupServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>IndexServlet</display-name>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>com.utask.servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ShareServlet</display-name>
		<servlet-name>ShareServlet</servlet-name>
		<servlet-class>com.utask.servlets.ShareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShareServlet</servlet-name>
		<url-pattern>/ShareServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>asd</servlet-name>
		<url-pattern>/asd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<resource-ref>
		<description>ok</description>
		<res-ref-name>jdbc/cscb20w18_sohanisa</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>